<configuration>
  
  <configSections>
    <section name="FeedbackServerConfig" type="DataIllusion.FeedbackServer.Config.FeedbackServerSection, DataIllusion.FeedbackServer.BE" />
  </configSections>

  <FeedbackServerConfig 
		connectionString="server=daldev002;uid=sober;pwd=1sober1;Trusted_Connection=no;database=sober" 
		adminRoot="~/FeedbackServer" 
		imagesPath="~/images/" 
		xmlDataPath="~/FSXmlData/"
		languagesPath="~/FSXmlData/Languages/" 
		savTempPath="~/SAVTempExport/"
		panelSyncThreadsNumber="2" 
		smtpServer="localhost" 
		smtpPort="25"
		smtpAuthUserName="" 
		smtpAuthPassword=""
		emailingProviderAssembly="DataIllusion.FeedbackServer.Emailing"
		emailingProviderClass="DataIllusion.FeedbackServer.Emailing.SystemWebEmailing"
		mailingThreadsNumber="2" 
		mailingBatchPoolingDelay="1" 
		sqlBasedAnswerTypesAllowed="true"
		uploadedFileDeleteTimeOut="24" 
		sessionUploadedFileDeleteTimeOut="336"
		serverCaching="true" 
		cacheTimeOut="-1" 
		userProviderAssembly="DataIllusion.FeedbackServer.MembershipUserProvider"
		userProviderClass="DataIllusion.FeedbackServer.UserProvider.MembershipUserProvider"
		formUserProviderSingleMode="false" 
		adController="yourdomaincontroller"
		adUserName="adAdministrator" 
		adPassword="yourpassword" 
		adDomain="yourdomain"
		adToDBSyncTimeOut="1440" 
		feedbackServerADUserName="adAdministrator"
		adSearcherFilter="(&amp;(objectCategory=person)(objectClass=user))"
		feedbackServerMembershipUserName="admin" 
		feedbackServerMembershipApplicationName="dev" 
    
	/>

  <connectionStrings configSource="connectionStrings.config" />
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>

    <!-- Standard Application Settings -->
    <compilation defaultLanguage="c#" debug="true" />
    <pages validateRequest="false" enableEventValidation="false" autoEventWireup="true" pageBaseType="CommunityServer.Components.CSPage, CommunityServer.Components">
      <controls>
        <add tagPrefix="CSControl" namespace="CommunityServer.Controls" assembly="CommunityServer.Controls" />
        <add tagPrefix="CSBlog" namespace="CommunityServer.Blogs.Controls" assembly="CommunityServer.Blogs" />
        <add tagPrefix="CSForum" namespace="CommunityServer.Discussions.Controls" assembly="CommunityServer.Discussions" />
        <add tagPrefix="CSMail" namespace="CommunityServer.MailGateway.MailRoom.Controls" assembly="CommunityServer.MailGateway"/>
        <add tagPrefix="CSFile" namespace="CommunityServer.Files.Controls" assembly="CommunityServer.Files" />
        <add tagPrefix="CSGallery" namespace="CommunityServer.Galleries.Controls" assembly="CommunityServer.Galleries"/>
        <add tagPrefix="CSReader" namespace="CommunityServer.Reader.Controls" assembly="CommunityServer.Reader"/>
        <add tagPrefix="CSDynConfig" namespace="Telligent.DynamicConfiguration.Controls" assembly="Telligent.DynamicConfiguration"/>
        <add tagPrefix="CSHub" namespace="CommunityServer.Hubs.Controls" assembly="CommunityServer.Controls"/>
        <add tagPrefix="TWC" namespace="Telligent.Glow" assembly="Telligent.Glow" />
        <add tagPrefix="CA" namespace="ComponentArt.Web.UI" assembly="ComponentArt.Web.UI"/>
        <add tagPrefix="CP" namespace="CommunityServer.ControlPanel.Controls" assembly="CommunityServer.Web"/>
        <add tagPrefix="Sober" namespace="Sober.Controls" assembly="Sober.Controls" />
        <add tagPrefix="vts" namespace="DataIllusion.FeedbackServer.WebControls" assembly="DataIllusion.FeedbackServer.WebControls" />
      </controls>
    </pages>

    <trace enabled="false" requestLimit="40" localOnly="true"/>
    <sessionState mode="InProc" />

    <!-- Permit detailed errors to be displayed for remote clients -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/error.htm">
      <error statusCode="404" redirect="~/error-notfound.aspx" />
    </customErrors>

    <!-- START - CommunityServer specific application settings here -->
    <httpModules>
      <add name="CommunityServer" type="CommunityServer.CSHttpModule, CommunityServer.Components" />
      <add name="PanelScheduler" type="DataIllusion.FeedbackServer.Web.HttpModules.FSContextModule,DataIllusion.FeedbackServer.WebControls"  />
    </httpModules>

    <httpHandlers>
      <add verb="GET" path="Utility/redirect.aspx" type="CommunityServer.Components.Redirect, CommunityServer.Components" />
      <add verb="GET" path="aggbug.aspx" type="CommunityServer.Components.HttpHandler.AggBugHandler, CommunityServer.Components" />
      <add verb="GET" path="avatar.aspx" type="CommunityServer.Components.HttpHandler.AvatarHttpHandler, CommunityServer.Components" />
      <add verb="GET" path="vcard.aspx" type="CommunityServer.Components.HttpHandler.VCardHttpHandler, CommunityServer.Components" />
      <add verb="GET" path="r.ashx" type="CommunityServer.Components.HttpHandler.TinyUrlHttpHandler, CommunityServer.Components" />
      <add verb="GET" path="weblogsubscription-confirmation.ashx" type="CommunityServer.Blogs.Components.WeblogSubscriptionConfirmation, CommunityServer.Blogs" />
      <add verb="GET" path="threadsubscription-confirmation.ashx" type="CommunityServer.Blogs.Components.ThreadSubscriptionConfirmation, CommunityServer.Blogs" />
      <add verb="GET" path="FtbWebResource.axd" type="DataIllusion.FeedbackServer.FTBC.AssemblyResourceHandler,DataIllusion.FeedbackServer.FTB"/>
      <add verb="*" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2"/>
      <add verb="*" path="fs-*.aspx" type="DataIllusion.FeedbackServer.Web.Handlers.FSFriendlyHandler,DataIllusion.FeedbackServer.WebControls"/>
    </httpHandlers>

    <!-- 
			authentication :
				To use Windows Authentication, you must turn off Anonymous authentication in IIS
				or IIS will never pass the user credentials to the forums.  
	      
				
				To enable Windows Authentication, simply comment out the forms authentication section
				below and uncomment the Windows Authentication stuff.
				
				To use the CookieAuthentication add-on module, set the authentication mode to "None" and
				comment out the forms element. 
		-->
    <authentication mode="Forms">
      <forms name=".CommunityServer" protection="All" timeout="60000" loginUrl="login.aspx" slidingExpiration="true" />
    </authentication>

    <membership userIsOnlineTimeWindow="15" defaultProvider="CommunityServerSqlProvider" >
      <providers>
        <clear />
        <add 
          name="CommunityServerSqlProvider"			
          type="CommunityServer.ASPNet20MemberRole.CSMembershipProvider, CommunityServer.ASPNet20MemberRole"
          connectionStringName="SiteSqlServer"
          enablePasswordRetrieval="false"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="false"
          requiresUniqueEmail="true"
          passwordFormat="Hashed"
          applicationName="dev"
          description="Stores and retrieves membership data from the local Microsoft SQL Server database"
          maxInvalidPasswordAttempts = "999"
          passwordAttemptWindow = "999"
          minRequiredPasswordLength = "6"
          minRequiredNonalphanumericCharacters = "0"
				/>
      </providers>
    </membership>

    <roleManager defaultProvider="CommunityServerSqlProvider" enabled="true"
      cacheRolesInCookie="true" cookieName=".CSRoles" cookieTimeout="60000"
      cookiePath="/"  cookieRequireSSL="false" cookieSlidingExpiration="true" 
      createPersistentCookie="true" cookieProtection="All" maxCachedResults="1000" >
      <providers>
        <clear />
        <add
          name="CommunityServerSqlProvider"
          type="CommunityServer.ASPNet20MemberRole.CSRoleProvider, CommunityServer.ASPNet20MemberRole"
          connectionStringName="SiteSqlServer"
          applicationName="dev"
          description="Stores and retrieves roles data from the local Microsoft SQL Server database" 
				/>
      </providers>
    </roleManager>

    <profile defaultProvider="CommunityServerSqlProvider" enabled="true" >
      <providers>
        <clear />
        <add  
          name="CommunityServerSqlProvider" 
          type="CommunityServer.ASPNet20MemberRole.CSProfileProvider, CommunityServer.ASPNet20MemberRole" 
          connectionStringName="SiteSqlServer" 
          applicationName="dev" 
          description="Stores and retrieves profile data from the local Microsoft SQL Server database" 
				/>
      </providers>

      <properties>
        <add name = "commonName" type = "string" />
        <add name = "birthdate" type = "DateTime" />
        <add name = "gender" type = "int" defaultValue = "0" />
        <add name = "dateFormat" type = "string" defaultValue="MM-dd-yyyy" />
        <add name = "publicEmail" type = "string" />
        <add name = "language" type = "string" />
        <add name = "webAddress" type = "string" />
        <add name = "webLog" type = "string" />
        <add name = "webGallery" type = "string" />
        <add name = "signature" type = "string" />
        <add name = "signatureFormatted" type = "string" />
        <add name = "location" type = "string" />
        <add name = "occupation" type = "string" />
        <add name = "interests" type = "string" />
        <add name = "msnIM" type = "string" />
        <add name = "yahooIM" type = "string" />
        <add name = "aolIM" type = "string" />
        <add name = "icqIM" type = "string" />
        <add name = "enablePostPreviewPopup" type = "System.Boolean" defaultValue = "false" />
        <add name = "enableEmoticons" type = "System.Boolean" defaultValue = "true" />
        <add name = "timezone" type = "System.Double" defaultValue="0" />
        <add name = "fontsize" type = "int" defaultValue = "0" />
        <add name = "bio" type = "string" />
      </properties>
    </profile>
    <trust level="Full" />

    <!-- 
		========================
		Anonymous Identification
		========================
		anonymousIdentification configuration:
			enabled="[true|false]"                            Feature is enabled?
			cookieName=".ASPXANONYMOUS"                       Cookie Name
			cookieTimeout="100000"                            Cookie Timeout in minutes
			cookiePath="/"                                    Cookie Path
			cookieRequireSSL="[true|false]"                   Set Secure bit in Cookie
			cookieSlidingExpiration="[true|false]"            Reissue expiring cookies?
			cookieProtection="[None|Validation|Encryption|All]"  How to protect cookies from being read/tampered
			domain="[domain]"                                 Enables output of the "domain" cookie attribute set to the specified value
			-->
    <anonymousIdentification 
      enabled="false" 
      cookieName=".ASPXANONYMOUS" 
      cookieTimeout="100000"
      cookiePath="/" 
      cookieRequireSSL="false" 
      cookieSlidingExpiration="true"
      cookieProtection="None" domain="" />

  </system.web>

  <location path="EditPost.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="PrivateMessage.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="Download.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="License.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

</configuration>